PRINT_AGENT_BACKEND_URL=http://localhost:3000
PRINT_AGENT_TOKEN=
PRINT_AGENT_ID=HOME-PC-01
PRINT_AGENT_PRINTER_NAME=PDF-TESTMODUS
PRINT_AGENT_MODE=save
PRINT_AGENT_POLL_INTERVAL_MS=3000
PRINT_AGENT_OUTPUT_DIRECTORY=./output