PRINT_AGENT_BACKEND_URL=http://localhost:3001
PRINT_AGENT_TOKEN=
PRINT_AGENT_ID=HOME-PC-01
PRINT_AGENT_PRINTER_NAME=HP OfficeJet Pro 8710 [7D86CB]
PRINT_AGENT_MODE=save
PRINT_AGENT_POLL_INTERVAL_MS=3000
PRINT_AGENT_OUTPUT_DIRECTORY=./output
PRINT_AGENT_PRINT_EXECUTABLE=C:\Program Files\PDF24\pdf24-Reader.exe
PRINT_AGENT_PRINT_TIMEOUT_MS=30000
PRINT_AGENT_LOG_DIRECTORY=./logs
PRINT_AGENT_LOG_RETENTION_DAYS=14
